<div class="datetime-input time" ng-class="{'active': !!selected}">
  <div class="display"
    ng-click="toggleEditPopover()"
    ng-class="{'active': !!selected }">
    <div class="time" ng-bind="time.format('HH : mm : ss')"></div>
    <div ng-if="!time" class="placeholder" ng-bind="placeholder"></div>
  </div>
  <div class="edit-popover" ng-show="!!selected">
    <div class="header" ng-bind="selected.format('DD MMMM YYYY')"></div>
    <div class="timer">
      <div class="timer-hours">
        <div class="arrow arrow-up" ng-click="update(selected.clone().add(1, 'hours'))"></div>
        <span ng-bind="selected.format('HH')"></span>
        <div class="arrow arrow-down" ng-click="update(selected.clone().subtract(1, 'hours'))"></div>
      </div>
      <div class="timer-divider">:</div>
      <div class="timer-minutes">
        <div class="arrow arrow-up" ng-click="update(selected.clone().add(1, 'minutes'))"></div>
        <span ng-bind="selected.format('mm')"></span>
        <div class="arrow arrow-down" ng-click="update(selected.clone().subtract(1, 'minutes'))"></div>
      </div>
      <div class="timer-divider">:</div>
      <div class="timer-seconds">
        <div class="arrow arrow-up" ng-click="update(selected.clone().add(1, 'seconds'))"></div>
        <span ng-bind="selected.format('ss')"></span>
        <div class="arrow arrow-down" ng-click="update(selected.clone().subtract(1, 'seconds'))"></div>
      </div>
    </div>
    <div class="clear-button" ng-if="!!time">
      <div ng-click="update()">Clear</div>
    </div>
  </div>
</div>
