<div class="datetime-input time">
  <div class="display"
    ng-click="toggleEditPopover()"
    ng-class="{'active': !!selected }">
    <div class="time">{{ time.format('HH : mm : ss') }}</div>
    <div ng-if="!time" class="placeholder">{{ placeholder }}</div>
  </div>
  <div class="edit-popover" ng-show="!!selected">
    <div class="header">
      {{ selected.format('DD MMMM YYYY') }}
    </div>
    <div class="timer">
      <div class="timer-hours">
        <div class="arrow arrow-up" ng-click="setDate(selected.clone().add(1, 'hours'))"></div>
        {{ selected.format('HH') }}
        <div class="arrow arrow-down" ng-click="setDate(selected.clone().subtract(1, 'hours'))"></div>
      </div>
      <div class="timer-divider">:</div>
      <div class="timer-minutes">
        <div class="arrow arrow-up" ng-click="setDate(selected.clone().add(1, 'minutes'))"></div>
        {{ selected.format('mm') }}
        <div class="arrow arrow-down" ng-click="setDate(selected.clone().subtract(1, 'minutes'))"></div>
      </div>
      <div class="timer-divider">:</div>
      <div class="timer-seconds">
        <div class="arrow arrow-up" ng-click="setDate(selected.clone().add(1, 'seconds'))"></div>
        {{ selected.format('ss') }}
        <div class="arrow arrow-down" ng-click="setDate(selected.clone().subtract(1, 'seconds'))"></div>
      </div>
    </div>
    <div class="clear-button" ng-if="!!time">
      <div ng-click="setDate()">Clear</div>
    </div>
  </div>
</div>
